.card{
    background-color: #fff;
    padding:1rem;
    position: relative;
}
.date-time {
    display: flex;
    gap:0.5rem;
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: x-small;
}
.message-container {
    /* padding: 1rem; */
    word-wrap: break-word;
}